@model FrontEnd.Models.UserViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IniciarSesion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login_register.css" asp-append-version="true" />
</head>
<body>

    <div id="main-wrapper" class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card border-0">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="mb-5">
                                        <h3 class="h4 font-weight-bold text-theme">Iniciar Sesión</h3>
                                    </div>

                                    <h6 class="h5 mb-0">Bienvenido!</h6>
                                    <p class="text-muted mt-2 mb-5">Ingresa tus credenciales para acceder al menú principal</p>

                                    <form asp-action="Login">
                                        @Html.HiddenFor(Model => Model.ReturnUrl)
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="UserName" class="control-label"></label>
                                            <input asp-for="UserName" class="form-control" />
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Password" class="control-label"></label>
                                            <input asp-for="Password" class="form-control" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>


                                        <div class="form-group">
                                            <input type="submit" value="Login" class="btn btn-primary" />
                                        </div>
                                        <a href="#l" class="forgot-link float-right ml-1">Olvidaste tu contraseña?</a>
                                    </form>
                                </div>
                            </div>

                            <div class="col-lg-6 d-none d-lg-inline-block">
                                <div class="account-block rounded-right">
                                    <div class="overlay rounded-right"></div>
                                    <div class="account-testimonial">
                                        <h4 class="text-white mb-4">Bienvenido a tu sistema en linea de citas médicas!</h4>
                                        <p class="lead text-white">"La mejor inversión en su salud, contamos con los servicios profesionales y equipos médicos de alta calidad"</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
                <p class="text-muted text-center mt-3 mb-0">
                    ¿No tienes una cuenta? <a href="@Url.Action("Registro","Inicio")" class="ml-1"> Registrate!</a>
                </p>

                <!-- end row -->

            </div>
            <!-- end col -->
        </div>
        <!-- Row -->
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>