@*@model Clinica.Models.Usuario;*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login_register.css" asp-append-version="true" />
</head>
<body>

    <div id="main-wrapper" class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card border-0">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="mb-5">
                                        <h3 class="h4 font-weight-bold text-theme">Iniciar Sesión</h3>
                                    </div>

                                    <h6 class="h5 mb-0">Bienvenido!</h6>
                                    <p class="text-muted mt-2 mb-5">Regístrate para acceder a nuestros mejores servicios médicos!</p>

                                    @*<form asp-controller="Inicio" asp-action="Registro" method="post">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Nombre Completo</label>
                                            <input class="form-control mb-3" type="text" placeholder="" asp-for="Nombre" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Correo Electrónico</label>
                                            <input class="form-control mb-3" type="text" placeholder="" required asp-for="Correo" />
                                        </div>
                                        <div class="form-group mb-5">
                                            <label for="exampleInputPassword1">Contraseña</label>
                                            <input class="form-control mb-3" type="password" placeholder="" required asp-for="Contraseña" />
                                        </div>
                                        <button type="submit" class="btn btn-theme">Registrarse</button>
                                    </form>*@
                                </div>
                            </div>

                            <div class="col-lg-6 d-none d-lg-inline-block">
                                <div class="account-block rounded-right">
                                    <div class="overlay rounded-right"></div>
                                    <div class="account-testimonial">
                                        <h4 class="text-white mb-4">Bienvenido a clinica ABC!</h4>
                                        <p class="lead text-white">"La mejor inversión en su salud, contamos con los servicios profesionales y equipos médicos de alta calidad"</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
                <p class="text-muted text-center mt-3 mb-0">
                    ¿Ya tienes una cuenta? <a href="@Url.Action("IniciarSesion","Inicio")" class="text-primary ml-1"> Inicia sesión</a>
                </p>

                <!-- end row -->

            </div>
            <!-- end col -->
        </div>
        <!-- Row -->
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>